# systemd unit file for the Python Demo Service
[Unit]

# Human readable name of the unit
Description=Python Demo Service


[Service]
Type=simple
Restart=always
WorkingDirectory=/tmp
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Python_Demo_Service

ExecStart=python3 /usr/local/lib/python_demo_service/python_demo_service.py
Environment=PYTHONUNBUFFERED=1



[Install]

# Tell systemd to automatically start this service when the system boots
# (assuming the service is enabled)
WantedBy=default.target
